<div class="container-fluid">
    <header>
        <a href="/">Decode Blog</a>
        <form class="head-search">
            <input type="text" placeholder="Поиск по блогам">
            <button>
                <img src="/images/icons/search.svg" alt="">
                <h4>Найти</h4>
            </button>
        </form>
        <div class="registrationAndLogin-buttons">
            <button onclick="document.location='account-registration'">Регистрация</button>
            <button onclick="document.location='login-to-account'">Вход</button>
        </div>
    </header>
</div>